.layout {
  height: 100vh;
}

.layout header {
  height: 4rem;
  background-color: var(--color-gray-100);
  border-bottom: 1px solid var(--color-border-primary);
}

.layout main {
  padding: 2rem 0;
  max-width: 60rem;
  margin: 0 auto;
  overflow-y: auto;
}
